{% extends "page_user_view_master.html" %}

{% load i18n %}
{% load thing_render %}

{% block cube_title %}active{% endblock %}

{% block user_content %}
	<div id="cube">
		<br />
		<h4 class="">{% trans "Things I Own" %} ......</h4>
		<ul class="simple_list no_border">
			{% for thing in own_things %}
				<li>
					{% thing_render thing square %}
				</li>
			{% endfor %}
		</ul>
		<div class="clear">
			
		</div>
		<h4 class="">{% trans "Things I Want" %} ......</h4>
		
		<ul class="simple_list no_border">
			{% for thing in wanting_things %}
				<li>
					{% thing_render thing square %}
				</li>
			{% endfor %}
		</ul>
		
	</div>
{% endblock %}