{% load i18n %}
	
<div class="comment">
	<h4 class="normal_font" style="vertical-align: middle;margin-bottom:5px;">
		<span class="float_right">
			{{ comment.ups }}
			<a href="{{comment.url}}/up">{% trans "Up" %}</a>
		</span>
		<span class="float_left">
			<a href="{{comment.author.url}}">{{ comment.author.fullname }}</a>
		</span>
		<span class="plain" style="margin-left:10px;">
			{{ comment.create_at|date:"Y-n-j" }} 
		</span>
		{% if display_thing_title %}
			<span class="plain">
				{% trans "Comments on" %}
			</span>
			<span>
				<a href="{{comment.thing.url}}">{{ comment.thing.title }}</a>
			</span>
		{% endif %}
	</h4>
	<p>
		{{ comment.content }}
	</p>
</div>
