{% extends "cube_master.html" %}

{% load i18n %}
{% load star %}

{% block html_head %}
	<script type="text/javascript" charset="utf-8" src="/javascript/libs/jquery.raty.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(
			function(){
				chrisw.raty("#rater", {
					click: function(score, evt){
						var url = "{{thing.url}}/rank?score=" + score + "&result_type=json";
						$.getJSON(url, function(data){
							chrisw.reload()
						})
					}
				});
			}
		);
	</script>
{% endblock %}

{% block content %}
	<h1>
		{{ thing.title }}
	</h1>
	<div>
		<div class="grid_3">
			<img class="imx" src="{{thing.photo_url}}"></img>
		</div>
		<div class="grid_6">
			<ul>
				{% for key, value in thing.fields %}
					<li>
						{{ key }} : {{ value }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="grid_5">
			<div id="rank" class="grid_4">
				<span id="name" style="float:left;">
					{% star thing.rank of 5 %} 
				</span>
				<span style="height:20px;">
						{{thing.rank}}
				</span>
			</div>
			<div class="grid_4">
				({{ thing.rank_info.rank_count_sum }} {% trans "People ranked it" %})
			</div>
			<div class="grid_4">
			<table border="0" cellspacing="2" cellpadding="2">
				{% for start_num, rate_count in thing.rank_info.rates %}
					<tr><td style="padding:1px;">
						{% star start_num of 5 small %} 
						</td>
						<td style="padding:1px;padding-left:5px;">
							{{rate_count}}
						</td>
					</tr>

				{% endfor %}
			</table>	
			</div>
			
		</div>
		<div class="clear">
		</div>

		<div>
			<span>
				
				{% if can_want %}
					<a class="a_btn a_btn_m" href="{{thing.url}}/want"><span>{% trans "Want" %}</span></a>
				{% endif %}
				{% if can_cancel_want %}
					<a class="a_btn a_btn_m" href="{{thing.url}}/cancel_want"><span>{% trans "Cancel Want" %}</span></a>
				{% endif %}				
				{% if can_own %}
					<a class="a_btn a_btn_m" href="{{thing.url}}/own"><span>{% trans "Own" %}</span></a>
				{% endif %}
				{% if can_cancel_own %}
					<a class="a_btn a_btn_m" href="{{thing.url}}/cancel_own"><span>{% trans "Cancel Own" %}</span></a>
				{% endif %}
			</span>
			
			{% if can_rank %}
				<span id="rater" style="padding-left:20px;">
				</span>
			{% endif %}
			
		</div>
		<div class="clear"></div>
		
		<div class="grid_15">
			<h3>{% trans "Introduction" %}</h3>
			{{ thing.introduction }}
		</div>
		
		<div class="grid_15">
			<ul>
				{% for comment in comments %}
					<li>
						{{ comment.content }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clear">
			
		</div>
		
		<div class="grid_15">
			<ul>
				{% for review in reviews %}
					<li>
						{{ review.content }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clear">
			
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="">
		<h3>{{thing.owner_count}} {% trans "Person Own it" %}</h3>
	</div>
	
	<div class="">
		<h3>{{thing.wanting_one_count}} {% trans "Person Want it" %}</h3>
	</div>
{% endblock %}