{% extends "page_thing_site_master.html" %}

{% load thing_render %}
{% load i18n %}

{% block content %}
	{% block thing_site_title %}
		<h1>
			{% trans "Daoshicha Thing" %}
		</h1>
	{% endblock %}
	<div class="thing_new">
		<ul>
			{% for thing in latest_thing %}
				<li>
					{% thing_render thing box %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
	{% if can_create_thing %}
		<h2>{% trans "Want to create a new one?" %}<a href="{{thing_site.url}}/new"> {% trans "Click here" %} </a> </h2>
	{% endif %}
{% endblock %}